* {
    margin: 0%;
    padding: 0%;
}

body {
    .info-book-ads {
        background: #024165;
        font-family: 'Inter';
        font-style: italic;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        color: #FFFFFF;
        text-align: center;

        padding: 13px 0% 10px 0%;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1%;

        .left {
            .logo {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;

                color: #023856;
            }
        }

        .right {
            display: flex;
            justify-content: flex-end;
            gap: 5%;

            .search {
                input {
                    border: 1px solid #2DB0FA;
                    border-radius: 20px;
                    width: 193px;

                    font-family: 'Inter';
                    font-style: italic;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;

                    background-color: white;
                    background-image: url('https://api.iconify.design/tabler:search.svg');
                    background-repeat: no-repeat;
                    background-position: 95%;

                    color: #000000;

                    padding: 2%;
                }


            }

            img {
                width: 19.5px;
                height: 21.5px;

                cursor: pointer;
            }

            .login {
                button {
                    background: #024165;
                    border-radius: 30px;

                    padding: 2%;
                    width: 110px;

                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;

                    color: #FFFFFF;

                    cursor: pointer;
                }
            }
        }
    }

    nav {
        display: flex;
        margin: 1%;
        margin-bottom: 0%;

        .line {
            width: 1px;
            padding: 0;

            background: #024165;
        }

        div {
            padding: 3px 14px 3px 14px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;

            color: #000000;
        }

        div:hover {
            background: #024165;

            color: #FFFFFF;
            cursor: pointer;
        }
    }

    .contents {
        display: flex;
        justify-content: space-between;
        margin-right: 1%;

        .left {
            margin: 1%;

            .newest {
                display: flex;

                img {
                    margin-right: 2%;

                    cursor: pointer;
                }

                .title {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;

                    color: #000000;
                    cursor: pointer;
                }

                .short-describe {
                    #Yersin {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 13px;
                        line-height: 16px;

                        color: #AEA3A3;
                    }

                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 16px;

                    color: #000000;
                }

                .time {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    font-family: 'Inter';
                    font-style: italic;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 16px;

                    color: #AEA3A3;
                }
            }
        }

        .goc-nhin {
            display: inline-block;
            width: 100%;
            margin-top: 19px;


            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;

                color: #000000;
            }

            .line {
                background: #D9D9D9;
                transform: matrix(1, 0, 0, -1, 0, 0);
                height: 1px;
                width: 95%;

                // padding-left: 5%;
                margin-top: 5px;
            }

            img {
                display: block;
                margin: auto;
            }

            .previews {
                display: flex;
                justify-content: center;
                margin-top: 22px;
                margin-bottom: 22px;
                gap: 23px;

                cursor: pointer;

                div {
                    width: 180px;
                }
            }
        }

        .right {

            .banner-1 {
                background: #D9D9D9;
                width: 343px;
                height: 250px;

                display: flex;
                align-items: center;
                justify-content: center;

                margin-bottom: 22px;

                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 39px;
                text-align: center;

                color: #000000;
            }

            .banner-2 {
                img {
                    width: 343px;
                    height: 416px;

                    border: 1px solid #024165;
                }
            }
        }
    }

    footer {
        background: #024165;
        font-family: 'Inter';

        color: #FFFFFF;

        .up {
            display: flex;
            justify-content: space-between;
            gap: 151px;

            .left {
                margin: 20px 0px 24px 20px;
            }

            .right {
                margin: 20px 20px 24px 20px;
            }
        }

        .bottom {
            text-align: center;
            padding-bottom: 14px;
        }
    }
}