@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  padding: 0%;
  margin: 0%;
  font-family: "Inter", sans-serif;
}

body {
  min-width: 960px;
  background-color: #FFFFFF;
}
body .program__promote {
  background-color: #024165;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}
body .program__promote__content {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-right: 46px;
  gap: 109px;
}
body header .header__logo p {
  width: 150px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #023856;
}
body header .header__search__bar {
  width: 500px;
  height: 36px;
  padding: 2px;
  border-radius: 20px;
  border: 1px solid #2DB0FA;
}
body header .header__search__bar input {
  background: url(https://api.iconify.design/tabler/search.svg?width=20&height=20) no-repeat scroll;
  background-position: top left;
  padding-left: 30px;
  border-style: none;
  margin: 9px;
  width: 90%;
  height: 20px;
}
body header .header__search__bar input::-moz-placeholder {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
body header .header__search__bar input:-ms-input-placeholder {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
body header .header__search__bar input::placeholder {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
body header .header__search__bar input:focus {
  outline: none;
}
body header .header__nav {
  display: flex;
  gap: 36px;
}
body header .header__nav iconify-icon {
  width: 24px;
  height: 23px;
}
body header .header__nav a {
  color: inherit;
}
body nav {
  display: flex;
  gap: 20px;
  margin-left: 30px;
  margin-top: 21px;
  margin-bottom: 16px;
}
body nav a {
  color: inherit;
  text-decoration: none;
}
body nav div {
  display: flex;
  align-items: center;
  gap: 5px;
}
body nav div span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
body .banner__top {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 264px;
}
body .banner__top p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}
body .banner__top div {
  position: relative;
}
body .banner__top .banner__left {
  background: #D9D9D9;
  width: 67.9166666667%;
}
body .banner__top .banner__right {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 32.0833333333%;
}
body .banner__top .banner__right__top, body .banner__top .banner__right__bottom {
  height: 126px;
  background: #D9D9D9;
}
body .contents__thoi__trang, body .contents__dien__tu, body .contents__me__va__be {
  margin: 28px 30px 22px;
}
body .contents__thoi__trang__title, body .contents__dien__tu__title, body .contents__me__va__be__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 6px;
}
body .contents__thoi__trang__line, body .contents__dien__tu__line, body .contents__me__va__be__line {
  height: 1px;
  background: #D9D9D9;
}
body .contents__thoi__trang__items, body .contents__dien__tu__items, body .contents__me__va__be__items {
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
  gap: 20px;
}
body .contents__thoi__trang__items div[class*=item], body .contents__dien__tu__items div[class*=item], body .contents__me__va__be__items div[class*=item] {
  width: 164px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
body .contents__thoi__trang__items div[class*=item] .img, body .contents__dien__tu__items div[class*=item] .img, body .contents__me__va__be__items div[class*=item] .img {
  width: 164px;
  height: 138px;
  background: #D9D9D9;
}
body .contents__thoi__trang__items div[class*=item] .title, body .contents__dien__tu__items div[class*=item] .title, body .contents__me__va__be__items div[class*=item] .title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}
body .contents__thoi__trang__items div[class*=item] .price, body .contents__dien__tu__items div[class*=item] .price, body .contents__me__va__be__items div[class*=item] .price {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}
body .contents__thoi__trang__items div[class*=item] .button button, body .contents__dien__tu__items div[class*=item] .button button, body .contents__me__va__be__items div[class*=item] .button button {
  background: #D9D9D9;
  border-style: none;
  border-radius: 15px;
  padding: 8px 34px 8px 33px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  cursor: pointer;
}
body .contents__banner {
  position: relative;
  background: #D9D9D9;
  width: 100%;
  height: 150px;
  margin-top: 24px;
}
body .contents__banner p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}
body footer {
  display: flex;
  justify-content: space-between;
  gap: 102px;
  background: #024165;
  margin-top: 36px;
}
body footer .info,
body footer .policy,
body footer p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 21px;
}
body footer .info {
  margin-left: 37px;
}
body footer .map {
  margin-right: 30px;
  margin-bottom: 30px;
}
body footer .map canvas {
  margin-top: 9px;
  width: 235px;
  height: 166px;
  background: #D9D9D9;
}/*# sourceMappingURL=index.css.map */