* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  height: 60vw;
  width: 100vw;
  background: linear-gradient(289.6deg, #0c0c0c 0%, #2c4550 98.22%);
}
body .warpper {
  height: 100%;
  width: 100%;
  position: relative;
}
body .warpper .left {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 10%;
}
body .warpper .left .logo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
}
body .warpper .left .icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 38px;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -30%);
}
body .warpper .right {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 90%;
  right: 0%;
  border-left: 1px solid #ffffff;
}
body .warpper .right .container {
  position: relative;
  width: 100%;
  height: 80%;
}
body .warpper .right .container .header {
  display: flex;
  align-items: center;
  gap: 3rem;
  width: 100%;
  justify-content: end;
  padding: 2rem;
}
body .warpper .right .container .header nav {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  gap: 2rem;
}
body .warpper .right .container .header nav a {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: rgba(232, 230, 227, 0.7);
}
body .warpper .right .container .header nav a:hover {
  text-decoration: underline;
  color: #ffffff;
}
body .warpper .right .container .header img {
  cursor: pointer;
  color: white;
}
body .warpper .right .container-left {
  max-width: 60%;
  margin-left: 3rem;
  z-index: 2;
}
body .warpper .right .container-left h1 {
  display: inline-block;
  font-size: 6rem;
  line-height: 1;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
body .warpper .right .container-left p {
  display: inline-block;
  max-width: 60%;
  margin-top: 3rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
body .warpper .right .container-right {
  position: absolute;
  top: 7%;
  right: 0%;
  height: auto;
  width: auto;
  z-index: 1;
}
body .warpper .right .footer {
  bottom: 0%;
  box-sizing: 1438px;
  z-index: 2;
  background-image: radial-gradient(100% 2631.09% at 0% 0%, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.56) 100%);
  background-color: initial;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
body .warpper .right .footer span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
body .warpper .right .footer p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
}
body .warpper .right .footer-lorem {
  width: 427px;
}/*# sourceMappingURL=index.css.map */