body {
  box-sizing: border-box;

  position: relative;
  width: 1600px;
  height: 900px;

  background: linear-gradient(289.6deg, #0c0c0c 0%, #2c4550 98.22%);
  border: 1px solid #ffffff;
}

.left {
  width: 10%;
  height: 100%;

  border-right: 1px solid #ffffff;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 30%;

  position: absolute;
  width: 10%;
  height: 150px;
  bottom: 5%;
}

.logo-fb,
.logo-twitter {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.logo-instagram {
  left: 0.15%;
  right: 0.15%;
  top: 0.11%;
  bottom: 0.11%;
}

.logo {
  position: absolute;
  width: 161px;
  height: 61px;
  left: 0px;
  top: 24px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;

  color: #ffffff;
}

.footer {
  position: absolute;
  width: 89.8%;
  height: 255px;
  left: 10.2%;
  bottom: 0px;

  background: radial-gradient(
    100% 2631.09% at 0% 0%,
    rgba(0, 0, 0, 0.42) 0%,
    rgba(0, 0, 0, 0.558) 100%
  );
  backdrop-filter: blur(50px);
}

.theme-footer {
  position: relative;
  left: 10%;
}
