.timer {
    display: flex;
    justify-content: center;

    gap: 5px;
}

.previews {
    display: flex;
    flex-direction: column;
    width: 400px;

    margin: 5% auto;

    img {
        width: 400px;
        height: 400px;
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 15%;
        margin-top: 5%;
    }
}