$colorNormal : #19191B;
$colorSubtle-1 : #61646B;
$colorSubtle-2 : #AFB1B6;
$colorBackground : #EFEFF0;
$colorSurface :#FAFAFA;
$colorPrimaryBlue: #3A00E5;
$colorPrimaryBlack: #000000;
$colorPrimarySubtle:#F7F5FF;