.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    min-width: 336px;

    background: #FFFFFF;
    box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
    border-radius: 25px;

    .agent {
        display: flex;
        gap: 10px;
        min-width: 296px;

        background: #F5F5F5;
        border-radius: 10px;

        .avatar {
            margin: 15px 0px 15px 17px;
        }

        .right {
            margin: 16px 0px 19px;
        }
    }

    input {
        border: 1px solid #EBEBEB;
        border-radius: 10px;
        padding: 20px 249px 25px 20px;

        &::placeholder {
            font-family: 'Redacted Script';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 15px;

            letter-spacing: -0.376923px;

            color: #000000;

        }

        &:nth-child(5) {
            padding: 20px 109px 65px 20px;
        }
    }

    button {
        cursor: pointer;
        background: #000000;
        border-radius: 0px 18px 0px 0px;
        padding: 25px 83px 23px 84px;

        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 17px;

        letter-spacing: -0.427179px;

        color: #FFFFFF;
    }
}