.main {
    display: flex;
    gap: 23px;

    .left {
        .img__preview {
            .main__img {
                img {
                    width: 704px;
                    height: 520px;
                }
            }

            .gallery {
                display: flex;
                gap: 24px;
                margin-top: 20px;
                margin-bottom: 41px;
            }
        }

        .details {
            .detail {
                display: grid;
                grid-template-columns: auto auto auto auto auto auto;

                .name {
                    grid-column-start: 1;
                    grid-column-end: 7;
                }
            }
        }
    }
}