* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    display: flex;
}

.left {
    background: #174180;
    width: 25%;
    padding: 25px;
}

body > div.left > div.avatar {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

body > div.left > div.avatar img {
    width: 75%;
}

body > div.left > div.information > div {
    display: flex;
    align-items: center;
    gap: 10px;

    color: #56CCF2;
}

body > div.left > div.name {
    font-weight: bold;
}

body > div.left > div.job_position {
    margin-bottom: 7.8px;
}

body > div.left > div.des {
    margin-top: 20px;
}

body > div.left > div.des > p {
    font-size: 18px;
}

body > div.left > div.skills > table {
    width: 100%;
}