@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
}

body {
  height: 100%;
  background: #F5F5F5;
}
body header {
  height: 16.27543%;
  background-color: #9D0C0C;
  padding-bottom: 8%;
}
body header .contents {
  width: 69.583333%;
  margin: 0 auto;
}
body header .contents .describe {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}
body header .contents .title {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}
body header .contents .title span {
  background-color: #9D0C0C;
  color: #fff;
  padding: 26px 1%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}
body header .contents .line {
  display: inline;
  position: absolute;
  width: 557px;
  height: 1px;
  background: #D9D9D9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
body section {
  position: relative;
}
body section .cards {
  display: flex;
  gap: 5%;
  margin-left: 4.166667%;
  margin-right: 4.166667%;
  position: relative;
  top: -3rem;
  margin-bottom: -2%;
}
body section .cards .card {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 1%;
  width: 31.25%;
  height: 250px;
}
body section .cards .card h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #9D0C0C;
}
body section .cards .card p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666060;
}
body section .background {
  background: #F5F5F5;
  height: 20%;
}
body section .why-choose-us {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}
body section .why-choose-us .title {
  display: inline;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #9D0C0C;
  background-color: #F5F5F5;
  padding: 1%;
}
body section .why-choose-us .line {
  display: inline;
  position: absolute;
  width: 557px;
  height: 1px;
  background: #9D0C0C;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
body section .contents {
  display: flex;
  gap: 5%;
  margin: 28px 4.166667% 0px 4.166667%;
  position: relative;
  top: 28px;
}
body section .contents .card {
  background: #FFFFFF;
  border-radius: 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  gap: 19px;
}
body section .contents .card img {
  position: absolute;
  top: -15%;
  min-width: 114px;
  min-height: 114px;
}
body section .contents .card h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #9D0C0C;
}
body section .contents .card p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666060;
  margin: 0px 20px 27px 20px;
}
body section .bg {
  position: absolute;
  background: #9D0C0C;
  transform: translateY(-25%);
  min-height: 70%;
  width: 100%;
  z-index: -1;
}
body section .QandA {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-top: 5%;
}
body section .QandA .title {
  display: inline;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #FFFFFF;
  background: #9D0C0C;
  padding: 0% 1%;
}
body section .QandA .line {
  display: inline;
  position: absolute;
  width: 557px;
  height: 1px;
  background: #FFFFFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
body section .contents_QandA {
  margin: 34px 80px 25px 50px;
}
body section .contents_QandA .accordion {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #666060;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
body section .contents_QandA .accordion:hover {
  background-color: #ccc;
}
body section .contents_QandA .panel {
  padding: 0 18px;
  background-color: #9D0C0C;
  display: none;
  overflow: hidden;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 1%;
}
body section .contents_QandA .accordion:after {
  content: "➕";
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
body section .contents_QandA .active:after {
  content: "➖";
}/*# sourceMappingURL=index.css.map */